{% extends 'clientdash/index.html.twig' %}

{% block body %}
<main id="main" class="main">
    <h2>chat with charlie munger <i class="bi bi-robot"></i></h2>

    <hr>
   <div style="margin-left: 8rem;border-radius: 8rem">
       <iframe id="myIframe" src="https://creator.voiceflow.com/prototype/65d53047621e0748864c33f8" width="700"
               height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
               allowTransparency="true" allow="encrypted-media"></iframe>
   </div>

</main>
{% endblock %}