{% extends 'clientdash/index.html.twig' %}

{% block body %}
	<main id="main">
		<div class="container">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}

			{% for message in app.flashes('danger') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}

			<h1>Formulaire de contact</h1>

			{{ form(form) }}
		</div>
	</main>
{% endblock %}
